<h1>Update Song</h1><br>

<%=form_for @song do |f|%>
    <%=label_tag 'Song Name: '%>
    <%=f.text_field :name%>
    <%=label_tag 'Artist ID: '%>
    <%=f.text_field :artist_id%>
    <%=label_tag 'Genre ID: '%>
    <%=f.text_field :genre_id%>
    <%=f.submit%>
<%end%>